.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
}
button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border-color: black;
  font-weight: bold;
  background-color: transparent;
}
